@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@600&display=swap');

.imagen_top h3 {
    color: white;
    font-family: 'Work sans';
    font-weight: bold;
    font-size: 5vh;
    text-align: center;   
    padding: 1em 0 1em 0;
}



.imagen_top p {
    color: white;
    font-family: 'roboto';
    font-weight: bold;
    font-size: 3vh;
    text-align: center;  
    padding: 0 10vw 1em 10vw; 
}

.imagen_top{
    width: 100%;
    height: 50vh;
    background-repeat: no-repeat;
    background-image: url(../img/city2.jpg);
    background-size: cover;
    background-position: center center;        
}

root{
    flex-grow: 1;
}

.contentgrid{
    display: grid;
    grid-template-columns: repeat(auto-fill, 100%);
}

  
.containerTall{
    min-height: 25vh;
}

  .containerTitle{
    min-height: 10vh;
  }

  .containerImg{
    width: 100% !important;
    height: 50vh;
    background-repeat: no-repeat;
    background-image: url(../img/figura.svg);
    background-size: 100% 100%;
    background-position: center center;
  }

.contentrules{
    background-color: white;
}

.colrButton{
    padding: 1vh;
    border-radius: 2vh;
    background-color: #821a3f;
    color: white;
    font-weight: bold;
    font-family: 'Work sans';
    font-size: 2vh;
    text-transform: capitalize;
    transition:all 0.8s ease-out;
    cursor: pointer;    
}

.colrButton:hover{
    background-color: #db709380;
}

.contentrules h1{
    color: #821a3f;
    font-family: 'Work sans';
    font-weight: bold;
    font-size: 5vh;
    text-align: center;   
    padding: 1em 0 1em 0;
}

.contentrules p{
    color: #000000;
    font-family: 'roboto';
    font-weight: bold;
    font-size: 3vh;
    text-align: center;  
    padding: 0 10vw 1em 10vw; 
}