@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@600&display=swap');

.imagen_top h3 {
    color: white;
    font-family: 'Work sans';
    font-weight: bold;
    font-size: 5vh;
    text-align: center;   
    padding: 1em 0 1em 0;
}

.imagen_top p {
    color: white;
    font-family: 'roboto';
    font-weight: bold;
    font-size: 3vh;
    text-align: center;  
    padding: 0 10vw 1em 10vw; 
}

.imagen_top{
    width: 100%;
    height: 50vh;
    background-repeat: no-repeat;
    background-image: url(../img/city2.jpg);
    background-size: cover;
    background-position: center center;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

root{
    flex-grow: 1;
}

.contentgrid{
    display: grid;
    grid-template-columns: repeat(auto-fill, 100%);
}

  
.containerTall{
    min-height: 25vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

  .containerTitle{
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .containerImg{
    width: 100%;
    height: 50vh;
    background-repeat: no-repeat;
    background-image: url(../img/figura.svg);
    background-size: 100% 100%;
    background-position: center center;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

